{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Secur Santé</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            Bienvenue, {{ user.username }} |
            <a href="{% url 'dashboard' %}">Dashboard</a> |
            <a href="{% url 'deconnexion' %}">Déconnexion</a>
        {% else %}
            <a href="{% url 'connexion' %}">Connexion</a> |
            <a href="{% url 'inscription' %}">Inscription</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}{% endblock %}
</body>
</html>
